.banner{
    background-color: #f5f2ef;
    text-align: center;
    padding: 20px; 
    display: flex;
}
.bannerImg{
    border-radius: 10px;
    margin-bottom: 20px;  


}
.bannerText{
    margin-left: 20%;
    text-align: center;
}