.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #bbb;
  padding: 15px;
  text-align: center;
  width: 150px;
}

.card img {
  height: 50px;
}

.card:hover{
    border: 2px solid #c60f59;
}