.footer {
  background-color: #f7f7f7;
  padding: 30px 60px;
  font-family: Arial, sans-serif;
}

/* Top Section */
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col h4 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
}

.footer-col a {
  display: block;
  text-decoration: none;
  color: #555;
  font-size: 14px;
  margin: 4px 0;
}

.footer-col a:hover {
  color: #7b1fa2;
}

.account-box {
  background-color: #faf7f5;
  padding: 20px;
  border-radius: 6px;
  max-width: 280px;

}

.account-box h4 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #222;
}

.account-box p {
  font-size: 13px;
  color: #555;
  margin-bottom: 15px;
}

.account-btn {
  width: 100%;
  border: none;
  padding: 10px;
  margin: 6px 0;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.primary-btn {
  background-color: #6a002b;   /* Hartford maroon */
  color: white;
}

.secondary-btn {
  background-color: #6a002b;   /* darker maroon */
  color: white;
}

.account-btn:hover {
  opacity: 0.9;
}

.btn {
  display: block;
  width: 100%;
  margin: 6px 0;
  padding: 6px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 4px;
}

.primary {
  background-color: #8e0038;
  color: white;
}

.secondary {
  background-color: #6a002b;
  color: white;
}

/* Bottom Section */
.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-area img {
  width: 30px;
  height: 30px;
}

.footer-bottom p {
  font-size: 13px;
  color: #555;
}
