<footer class="footer">

  <!-- Top Footer Section -->
  <div class="footer-top">

    <!-- Column 1 -->
    <div class="footer-col">
      <h4>Products</h4>
      <a>Auto</a>
      <a>Home</a>
      <a>Business</a>
      <a>Employee Benefits</a>
      <a>Mutual Funds</a>
    </div>

    <!-- Column 2 -->
    <div class="footer-col">
      <h4>Company</h4>
      <a>About Us</a>
      <a>Careers</a>
      <a>Newsroom</a>
      <a>Investor Relations</a>
      <a>Mobile App</a>
    </div>

    <!-- Column 3 -->
    <div class="footer-col">
      <h4>Connect</h4>
      <a>Contact Us</a>
      <a>Report a Claim</a>
      <a>Find an Agent</a>
      <a>Small Biz Ahead</a>
      <a>Extra Mile</a>
    </div>

    <!-- Column 4 - Account Box -->
<div class="account-box">
  <h4>Access Your Account</h4>
  <p>View your policy, pay your bill, view claims status and more.</p>

  <button class="account-btn primary-btn">
    Auto & Home Login
  </button>

  <button class="account-btn secondary-btn">
    Business Insurance Login
  </button>
</div>


  </div>

  <!-- Bottom Footer -->
  <div class="footer-bottom">
    <div class="logo-area">
      <img src="https://upload.wikimedia.org/wikipedia/en/0/0b/The_Hartford_Financial_Services_Group_logo.svg">
      <span>The Hartford</span>
    </div>

    <p>© 2026 Angular Training</p>
  </div>

</footer>
